<div class="background-edit-user">
  <div class="container d-flex justify-content-center">
    <div class="user-form-edit-user">
      <div class="glass">
        <h2>Editar <%= resource_name.to_s.humanize %></h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :current_password, label: "Contraseña actual",
                                    hint: "Necesitamos tu contraseña actual para efectuar los cambios",
                                    required: true,
                                    input_html: { autocomplete: "current-password" } %>

            <%= f.input :password, label:"Contraseña",
                        hint: "Lo puedes dejar en blanco en caso de no querer cambiar la contraseña",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, label: "Confirmar de contraseña",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>

          </div>

          <div class="form-actions">
            <%= f.button :submit, "Actualizar", class:"btn btn-success rounded-pill" %>
          </div>
        <% end %>

        <h3>Cancelar mi cuenta</h3>

        <div class="d-flex align-items-center">
          <div>Si me dejas me mato</div>

        </div>
        <div class="btn-group" role="group">
          <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro/a?" }, method: :delete, class: "btn btn-success mr-1 rounded-pill" %>
          <%= link_to "regresar", :back, class: "btn btn-success mr-1 rounded-pill" %>
        </div>
      </div>
    </div>
  </div>
</div>
