<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h2  class=" text-center">Edita tu post </h2>
        <%= simple_form_for @post do |f| %>
          <%= f.input :address, label: "Dirección donde se vió el peludo:"%>
          <%= f.input :latitude, label: "Latitud" %>
          <%= f.input :longitude, label: "Longitud" %>
          <%= f.input :description, label: "Descripción física" %>
          <%= f.input :reward, label: "Recompensa",
            required: true,
            autofocus: true,
            input_html: { autocomplete: "Recompensa?" }%>
          <div class="text-center m-3"><%= f.button :submit, "Actualizar", class: 'btn btn-danger' %> </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
