<div class="container  ">

  <div class="shadow p-3 mb-5 bg-white rounded">
    <h3 class="text-center mt-5 azul" id="titulo"> Para todos los peludos que necesiten volver a casa, perdidos o encontrados </h3>

    <div class=" text-center m-5">
        <%= link_to "Publica tu peludo", new_post_path, class: "btn btn-danger" %>
    </div>
  </div>

  <br>

  <br>

  <h1 class="text-center rojo" id="titulo"> Estos peludos buscan su casa </h1>

  <div class=" d-flex mb-5 ">
      <div class="col justify-content-between text-center">
        <% @posts.each do |post| %>
          <div class="card m-5 shadow p-3 mb-5 bg-white rounded text-center" style="width: 400px ">
            <% if post.photos.attached?%>
                <%= link_to post_path(post) do %>
                  <%= cl_image_tag post.photos.first.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
                <% end %>
            <% end %>
            <center>
            <h5 class="card-title mt-3" id="titulo"> <%= post.title %> </h5>
            <p> <%= Animal.find(post.animal_id).specie %> </p>
            <p> <%= post.address %> </p>
            <p > <%= post.description %> </p>
            <p> <%= post.reward ? 'Se ofrece recompensa' : 'Sin recompensa' %> </p>
            </center>
          </div>
        <% end %>
        </div>

  </div>

 <div class=" text-center m-5">
      <%= link_to "Publica tu peludo", new_post_path, class: "btn btn-danger" %>
  </div>
</div>
