
  <div class="container mb-3 mt-5">
  <div class="mt-5"></div>
    <h2 class="text-center  mt-5 pt-3 rojo" id="titulo" > Mis publicaciones </h2>
      <div class="row justify-content-around mt-5">
        <% @posts.each do |post| %>
        <div class="col-sm-4 d-flex justify-content-around">
            <div class="card  d-flex justify-content-between shadow mb-5 bg-white rounded cards-publicaciones" style="width: 333px ">
              <% if post.photos.attached?%>
                  <%= link_to post_path(post) do %>
                    <%= cl_image_tag post.photos.first.key, height: 250, width: 333, crop: :fill, class: "card-img-top rounded card-image" %>
                  <% end %>
              <% end %>

              <div class="card-text mt-3">
                <span class="undecorated-link pt-3 ">
                  <%= link_to post_path(post) do %>
                  <h5 class="card-title text-dark  " id="titulo-card" > <%= post.title %> </h5>
                  <% end %>
                </span>
                <div class="card-body ">
                  <p><%= post.address %></p>
                  <p><%= post.description %></p>
                </div>
              <% if post.post_type == true %>
                <div class="card-stats tag-red">
                  <span class="stat text-center ">
                  <% if post.post_type == true %>
                  <p class="stat ">  <%= 'Perdido' %> </p>
                  <%else %>
                  <p class="stat "> <%= 'Encontrado' %> </p>
                  <% end %>
              <%else %>

                <div class="card-stats tag-blue">
                  <span class="stat text-center ">
                  <% if post.post_type == true %>
                  <p class="stat ">  <%= 'Perdido' %> </p>
                  <%else %>
                  <p class="stat "> <%= 'Encontrado' %> </p>
                  <% end %>
              <%end%>

                  </span>
                  <div class="stat m-3 text-center">
                    <%= post.created_at.strftime("Creado el  %d/%m/%Y") %>
                  </div>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class = "publicaciones">
  </div>
