
  <div class="container mb-5 mt-5">
    <h2 class="text-center mb-3" > Mis publicaciones </h2>
      <div class="row justify-content-around mt-5">
        <% @posts.each do |post| %>
        <div class="col-lg-4 m-3">
            <div class="card h-100 d-flex justify-content-between shadow mb-5 bg-white rounded " style="width: 400px ">
              <% if post.photos.attached?%>
                  <%= link_to post_path(post) do %>
                    <%= cl_image_tag post.photos.first.key, height: 300, width: 400, crop: :fill %>
                  <% end %>
              <% end %>
              <h5 class="card-title text-center"><%= post.title %></h5>
              <div class="card-body text-center">
                <p><%= post.address %></p>
                <p><%= post.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class = "publicaciones">
  </div>
