<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create a new post</h3>
        <%= simple_form_for @post do |f| %>
          <%= f.input :title %>
          <%= f.input :address,
          input_html: {data: {address_autocomplete_target: "address"}},
          wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
          %>
          <%= f.input :description %>
          <%= f.association :animal, label_method: :specie %>
          <%= f.input :reward,
            input_html: { autocomplete: "Recompensa?" }%>
          <%= f.input :photos, as: :file, input_html: {multiple: true} %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<footer><%= render "shared/footer" %></footer>
