<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create a new post</h3>
        <%= simple_form_for @post do |f| %>
          <%= f.input :address %>
          <%= f.input :description %>
          <%= f.input :photos, as: :file %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
