<div class="container">
  <div class="justify-content-center">

    <div class="card shadow mb-5 bg-white rounded " style="width: 100%;">
      <div class="card-body d-flex">
          <div class="imagen  mb-5 bg-white rounded p-4">
            <div>

              <div class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#img1" data-slide-to="0" class="active"></li>
                  <li data-target="#img2" data-slide-to="1"></li>
                  <li data-target="#img3" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <% @post.photos.each_with_index do |photo, index| %>
                  <div class="carousel-item <%= "active" if  index == 0 %>">
                      <%#= cl_image_tag photo.key, height: 400, width: 500, class:"card-img-top mb-3" , crop: :fill %>
                      <img class="d-block w-100" src="<%=photo.url%>" alt="slide">
                  </div>
                  <% end %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
          <div class="card info  mb-5 bg-white rounded p-3">
            <div class="d-block fs-4">
              <h4 class="card-title text-center" id="titulo"> <%= @post.title %> </h4>
            </div>

            <div class="d-block fs-4">
             <strong> <%= @post.post_type ? 'Perdido' : 'Encontrado' %> </strong>
            </div>
            <div class="d-block fs-4">
             <strong> <%= "Dirección:" %> </strong> <%= @post.address %>
            </div>
            <div class="d-block fs-4">
            <strong> <%= "Descripción:" %> </strong> <%= @post.description %>
            </div>
            <div class="d-block fs-4">
             <% if @post.post_type == true %>
               <strong> <%= "Recompensa:" %> </strong> <%= @post.reward ? 'Si' : 'No' %>
             <% end %>
            </div>
            <div class="d-block fs-4">
             <strong> <%= "Estado:" %> </strong> <%= @post.status %>
            </div>
          <div class="d-flex justify-content-center mb-3">
            <% if current_user.present? %>
             <% if current_user.id == @post.user_id %>
                <%= link_to "", edit_post_path(@post), class: "fa-solid fa-pen-to-square m-3", id: "edit-buttom" %>
                <%= button_to "", post_path(@post), data: { confirm: "Are you sure?" }, method: :delete, class: "fa-regular fa-trash-can m-3", id: "delete-buttom" %>
             <% end %>
             <%= link_to "", chatroom_path(Chatroom.first), class: "fa-regular fa-comments m-3", id: "chat-buttom" %>
            <% end %>
            <br>

            <div class="map d-flex" id='map' style="width: 100%; height: 300px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            ></div>
          </div>
      </div>
    </div>



    <div class="row mt-5 mr-1">
      <div class="col-12 col-sm-6">
        <h3 class= "text-center">Comentarios</h3>
        <% if @post.reviews.empty? %>
          <small><em class="text-muted">Sé el primero en dejar una reseña</em></small>
        <% end %>
        <% @post.reviews.each do |review| %>
          <div>
            <div class= "background-comments rounded p-3">
              <p class="mb-0"><%= review.content %></p>
              <small><%= distance_of_time_in_words_to_now(review.created_at) %> ago</small>
            </div>
            <div class="d-flex">
              <% if current_user.present? %>
                <% if current_user == review.user %>
                  <span id= "btn-<%= review.id %>">  <%= link_to "", post_review_path(review), class: 'fa-solid fa-pen-to-square m-1 ', id: "edit-buttom-comments", onclick: "showContent()" %> </span>
                  <%= button_to "", review_path(review), data: { confirm: "Are you sure?" }, method: :delete, class: "fa-regular fa-trash-can m-1", id: "delete-buttom-comments" %>
                <% end %>
              <% end %>
            </div>
            <div id= "content-<%= review.id %>" style= "display: none">
              <%= simple_form_for [@post, review], method: :put, url: post_review_path(@post, review) do |f| %>
                <%= f.input :content%>
                <%= f.submit class:"btn btn-danger" %>
              <% end %>
            </div>
          </div>
          <hr>
        <% end %>
    </div>
    <div class="col-12 col-sm-6">
      <div class="bg-white rounded p-3">
        <h5>Agrega tu comentario</h5>
        <%= simple_form_for [@post, @review] do |f| %>
          <%= f.input :content,placeholder: "Agrega tu comentario aquí...", label: "Comentario" %>
          <%= f.submit "Comentar", class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function showContent() {
    const id = event.currentTarget.href.split("/")[4]
    event.preventDefault()
    $(`#content-${id}`).show()
  }
</script>
