<div class="container">
  <div class="row justify-content-center">
    <div class="card card-top" style="width: 35rem;">
      <div class="card-body">
        <br>
        <% @post.photos.each do |photo| %>
          <%= cl_image_tag photo.key %>
        <% end %>
        <div class="d-block fs-3">
          <strong> <%= "Dirección:" %> </strong> <%= @post.address %>
        </div>
        <div class="d-block fs-3">
          <strong> <%= "descripción:" %> </strong> <%= @post.description %>
        </div>
        <div class="d-block fs-3">
          <strong> <%= "Recompensa:" %> </strong> <%= @post.reward ? 'Si' : 'No' %>
        </div>
        <div class="d-block fs-3">
          <strong> <%= "Estado:" %> </strong> <%= @post.status %>
        </div>
        <br>
        <div class="d-flex ">
          <% if current_user.present? %>
            <% if current_user.id == @post.user_id %>
              <%= button_to "Delete plan", post_path(@post), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger m-1" %>
              <%= link_to "Edit", edit_post_path(@post), class: "btn btn-danger m-1" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mr-1">
    <div class="col-12 col-sm-6">
      <h3>Reviews</h3>
      <% if @post.reviews.empty? %>
        <small><em class="text-muted">Be the first one to review this post</em></small>
      <% end %>
      <% @post.reviews.each do |review| %>
        <div>
          <p class="mb-0"><%= review.content %></p>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <div class="d-flex">
            <%= link_to "Edit", edit_review_path(review), class: "btn btn-danger m-1" %>
            <%= button_to "Delete Review", review_path(review), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger m-1" %>
          </div>
          <%= simple_form_for review do |f| %>
            <%= f.input :content%>
            <%= f.submit class:"btn btn-danger" %>
          <% end %>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="col-12 col-sm-6">
      <div class="bg-white rounded p-3">
        <h5>Add your review</h5>
        <%= simple_form_for [@post, @review] do |f| %>
          <%= f.input :content, placeholder: "Add your review here..." %>
          <%= f.submit class:"btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
